<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=
"http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param> <!--By this way we can use the variables anywhere in project whether it is a jsp file or servlet file-->
        <param-name>dbpath</param-name>
        <param-value>jdbc:mysql://localhost/shoppingdb</param-value>
    </context-param>
    <context-param>
        <param-name>dbuser</param-name>
        <param-value>myshopdbuser</param-value>
    </context-param>
    <context-param>
        <param-name>dbpass</param-name>
        <param-value>123</param-value>
    </context-param>
    
    <servlet>
    
        <servlet-name>firstserv</servlet-name>
        <servlet-class>myservlets.firstserv</servlet-class>
         <init-param><!--These variables can only be used in the servlet in which we mentioned it-->
            <param-name>dbpath</param-name>
            <param-value>jdbc:mysql://localhost/shoppingdb</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
    <servlet-name>firstserv</servlet-name>
        <url-pattern>/firstserv</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>msgservlet</servlet-name>
        <servlet-class>myservlets.myserv2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>msgservlet</servlet-name>
        <url-pattern>/msg</url-pattern>
    </servlet-mapping>
        
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>myservlets.sumserv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.html</url-pattern>
    </servlet-mapping>
    
  
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
